.container{
    padding-top: 30px;
    width: 95%;
    margin: 0 auto;
}
.header__title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
}
.intro{
    display: flex;
    gap:20px;
    margin-top: 60px;
}
.intro__left{
    margin-top: 85px;
}
.intro__sub{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 10px;
    color:blue;
}
.intro__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    padding-top: 15px;
    margin-bottom: 0px;
}
.intro__text{
    padding-top: 20px;
    padding-bottom: 25px;
}
.intro__btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(91, 151, 203);
    text-align: center;
    padding: 10px 50px;
    border: 1px solid #0d93dc;
    border-radius: 8px;
}
@media only screen and (max-width: 700px){
    .intro {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        .intro__right {
            order: -1;
        }
}